/* style.css */

/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Estilização do menu */
nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #FFD700;
}

/* Container para o conteúdo */
.container {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
/* Estilização dos títulos e imagens */
h1{
  text-align: left;
  margin: 25px 230px 20px 230px;
}
h2 {
  margin-top: 35px;
}

.fotos{
  flex: 1;
  margin-right: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Estilização dos campos do formulário */
input, textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Estilização do botão */
button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
li {
  margin: 10px 0;
}
/* Estilização dos links */
a{
  color: #131313;
  font-weight: bold;
  text-decoration: none;
  
}
a:hover {
  color: #003494;
}
/* Ajuste de tamanho do formulário */
.formulario {
  width: 100%;
}